<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd
       ">
	<bean class="controller.goods.GoodsController"/>
	<bean class="controller.goods.CartController"/>
	<bean id = "goodsWriteService" class="service.goods.GoodsWriteService"/>
	<bean id = "goodsListService" class="service.goods.GoodsListService"/>
	<bean id = "goodsDetailService" class="service.goods.GoodsDetailService"/>
	<bean id = "goodsCartdService" class="service.goods.GoodsCartService"/>
	<bean id = "wishlistService" class="service.goods.WishlistService"/>
	<bean id = "goodsDelService" class="service.goods.GoodsDelService"/>
	<bean id = "goodsRepository" class="repository.GoodsRepository"/>
</beans>